body {
  margin: 0;
  position: relative;
  background-color: #f1f1f1;
}

.accessory-page-container {
  font-family:  Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: auto;
  padding-top: 147px;
  background-color: white;
  text-align: left;
}

.accessory-page-container h1 {
  font-weight: 700;
}

.accessory-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  width: 70%;
  
}
.accessory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 310px;
  margin: 15px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.accessory-item:hover {
  box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  transform: translateY(-2px) scale(1.01);
}

.accessory-img {
  object-fit: contain;
  height: 200px;
  margin-bottom: -10px;
  padding-top: 10px;
}

.accessory-name {
  width: 90%;
  font-size: 1em;
  font-weight: 700;

}
