.game-details-page {
  padding-top: 170px;
  font-family:  Helvetica, sans-serif;
  background-color: white;
}

.game-details-container {
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.top-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  
}

.image-container {
  width: 55%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
  .game-cover {
    object-fit: contain;
    width: 80%;
    height: 375px;
  }

.details-section {
  width: 45%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 25px;
}
   
    .game-title {
      margin-top: 0;
      font-size: 2.4em;
      margin-bottom: -25px;
    }
    .game-price {
      font-size: 2em;
    }
    .game-release {
      font-size: 1em;
      margin-bottom: 0;
    }
    .genres-title {
      font-size: 1em;
      margin-bottom: -25px;
    }
    .game-genres, .year-released {
      font-size: 1em;
      font-weight: 300;
    }
    .rating-img {
      width: 50px;
    }
    .details-section button{
      font-weight: 700;
    }

.description-container{
  width: 70%;
  margin: 0 auto;
}
    .description-title {
      font-size: 1.5em;
      margin-bottom: -15px;
    }
    .game-description {
      font-size: 1em;
      font-weight: 300;
      line-height: 1.3;
    }

    .general-container{
      display: flex;
      flex-direction: column;
    }
    .general-info-container{
      display: flex;
      flex-direction: row;
    }

   
   .general-info hr {
      border-bottom: 1px solid #f1f1f1;
      width: 200px; 

   }
   .general-data hr {
      border-bottom: 1px solid #f1f1f1;
      width: 200px; 
      
   }
   .general-info, .general-data {
    margin-bottom: 20px;
   }
    .general-title {
      font-size: 1.2em;
      margin-bottom: -10px;
    }
    .game-players, .game-online, .player-number, .online-boolean  {
      font-size: 1em;
      margin-bottom: -5px;
      font-weight: 300;
    }
    
