.retroBody {
  background-color: rgb(205, 181, 0);
}

.retroGame{
  background-image: url('https://t4.ftcdn.net/jpg/06/23/74/43/360_F_623744326_y3k2dlbQ8W0Ch3f04Qoejvtat1HbUJXL.webp');
  height: 150px;
  font-family: "Press Start 2P", system-ui;
  color: rgb(22, 225, 0);
  padding-top: 170px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroConsole {
  background-image: url('https://t3.ftcdn.net/jpg/02/19/51/86/360_F_219518686_n7365j7IXWzGsICyzPNR0uU8quTwXzHA.webp');
  height: 150px;
  font-family: "Press Start 2P", system-ui;
  color: rgb(22, 225, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroCard {
  font-family: "Gugi", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.retroGameTitle {
  font-family: "Gugi", sans-serif;
  display: flex;
  width: 225px;
}

.retroGamePrice {
  font-family: "Gugi", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroGameCover {
  height: 275px;
  width: 225px;
}

.retroConsoleCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
}

.retroConsoleTitle {
  font-family: "Gugi", sans-serif;
  display: flex;
  width: 225px;
}

.retroConsolePrice {
  font-family: "Gugi", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroConsoleCover {
  height: 275px;
  width: 225px;
}

.returnLink {
  font-family: "Gugi", sans-serif;
  background-color: black;

}

.retroGameDescription {
  font-family: "Gugi", sans-serif;
  font-size: 36px;
}

.retroDetailsCard {
  font-family: "Gugi", sans-serif;
  padding-top: 140px;
}
