.retro-game{
  font-family: redpixel;
  src: url('src/stlye/retro-fonts-font-collection/Redpixel-8Mqz2.otf') format('truetype');
  padding-top: 170px;
}

.retro-console {
  font-family: redpixel;
}

.retro-card {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.retro-game-title {
  display: flex;
  width: 225px;
}

.retro-game-price {
  display: flex;
}

.retro-game-cover {
  height: 275px;
  width: 225px;
}

.retro-console-card {
  display: flex;
}

.retro-console-title {
  display: flex;
}

.retro-console-price {
  display: flex;
}

.retro-console-cover {
  height: 275px;
  width: 225px;
}

.return-link {
  background-color: black;

}

.retro-game-description {
  font-family: redpixel;
  font-size: 36px;
}

.retro-details-card {
  padding-top: 140px;
}