.retroBody {
  background-color: rgb(205, 181, 0);
}

.runescapeAd {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  background-color: rgb(91, 91, 91);
  margin-top: 25px;
}

.retroGame{
  background-image: url('https://t4.ftcdn.net/jpg/06/23/74/43/360_F_623744326_y3k2dlbQ8W0Ch3f04Qoejvtat1HbUJXL.webp');
  height: 150px;
  font-family: "Press Start 2P", system-ui;
  color: rgb(22, 225, 0);
  padding-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroConsole {
  background-image: url('https://t3.ftcdn.net/jpg/02/19/51/86/360_F_219518686_n7365j7IXWzGsICyzPNR0uU8quTwXzHA.webp');
  height: 150px;
  font-family: "Press Start 2P", system-ui;
  color: rgb(22, 225, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroCard {
  font-family: "Gugi", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.retroGameTitle {
  font-family: "Gugi", sans-serif;
  display: flex;
  width: 225px;
}

.retroGamePrice {
  font-family: "Gugi", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroGameCover {
  height: 275px;
  width: 225px;
}

.retroConsoleCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
}

.retroConsoleTitle {
  font-family: "Gugi", sans-serif;
  display: flex;
  width: 225px;
}

.retroConsolePrice {
  font-family: "Gugi", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.retroConsoleCover {
  height: 275px;
  width: 225px;
}

.returnLink {
  font-family: "Gugi", sans-serif;
  background-color: black;

}

.retroGameDescription {
  font-family: "Gugi", sans-serif;
  font-size: 36px;
}

.retroDetailsCard {
  font-family: "Gugi", sans-serif;
  padding-top: 140px;
}

.retroNav {
  font-family: "Press Start 2P", system-ui;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-top: 50px;
}

.navDivider {
  border-left: 1px solid #000000;
  height: 20px; 
  margin: 0;
}




.retroFooter {
  font-family: "Press Start 2P", system-ui;
  background-color: #a90303;
  color: black;
  padding: 10px 0;
  margin-bottom: -150px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.projectGithub {
  text-align: center;
  margin-right: -120px;
}

.projectGithub h4 {
 margin: 0;
 margin-bottom: 5px;
 font-size: .8em;
}

.teamContainer {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  margin: 10px -150px;
}
.teamContainer h3 {
  font-family: "Press Start 2P", system-ui;
  margin: 0; 
  margin-bottom: 15px;
  font-size: 1em;

}
.teamContainer h4 {
  font-family: "Press Start 2P", system-ui;
  margin: 0; 
  margin-bottom: 5px;
  font-size: .8em;
}
footer a{
  color: black;
  text-decoration: underline;
  font-weight: 300;
}
.teamMembersContainer {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.divider {
  border-left: 1px solid #ccc;
  height: 80px; 
  margin: 0;
}
.copyright {
  margin-left: -120px;
  font-size: .8em;
}
