/* ShoppingCart.css */


.shoppingcart_container {
  padding-bottom: 0px;

  width: 70%;
  height: 100%;

  padding-top: 147px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;

  max-height: 100%;
  background-color: #f1f1f1; /* Gray background color */
}

.shoppingcart-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-details {
  display: flex;
  flex-direction: row;
}

.UlCart {
  padding: 0;
  width: 50%; /* Adjust width as needed */
  
}
.CardDetail{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  height: 190px;
  width: 600px;
  background-color: #fff !important;
}
.item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 180px;
}

.item-image-container{
  width: 180px;
  height: 180px;
}
.item-image-container .cart-item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item-details-button-container{
display: flex;
flex-direction: column;
height: 100%;
width: 60%;
justify-content: space-between;
margin-left: 50px;

}
.item-details-container {
  margin-top: 10px;
 
}
  .itemName {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .itemPrice {
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .Quantity {
    margin-bottom: 10px;
  }

.remove-button-container {
  display: flex;
  justify-content: flex-end;
}
 

.order-summary {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  background-color: #fff !important;
  height: 430px;
  margin-left: 200px;
}
.CheckoutButton{
margin:5px;
width: 100%;
box-sizing: border-box;
height: 48px;
font-size: .75rem;
line-height: 1.2;
background-color: rgb(212, 6, 6) !important;
cursor: pointer;
}

.Paypal{
  cursor: pointer;
  background-color: #ffc439;
  color: #111;

  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

}

.summary-line {
  display: flex;
  justify-content: space-between;
}
.itemName{
  font-weight: bold;
}
.shoppingcart li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.promotion-code{
width: 180px;
  height: 10px;
  margin-top: 20px;
}
.PromotionInput{
  border-bottom: 1px solid #532727;
    display: block;
     margin: auto;
    padding: 0.5rem 0;
    transition: border 0.3s ease-in;
}

/* .shoppingcart img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
} */

.shoppingcart button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.shoppingcart .total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 968px) {
  .container {
    width: 100%;
  }
}
